{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="remember-theme">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}{% endblock title %} | Church</title>
        <meta name="description" content="Church management system">
        <meta name="keywords" content="church, management, system">
        <meta name="author" content="Bruno R. Pianca">
        <link rel="stylesheet" id="css-main" href="{% static "css/codebase.min.css" %}">
        <script src="{% static "js/setTheme.js" %}"></script>
    </head>
    <body>
        <div id="page-container" class="main-content-boxed">
            <main id="main-container">
                <div class="bg-body-dark">
                    <div class="hero-static content content-full px-1">
                        <div class="row mx-0 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                {% block content %}
                                {% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="{% static "js/codebase.app.min.js" %}"></script>
        <script src="{% static "js/lib/jquery.min.js" %}"></script>
        <script src="{% static "js/plugins/jquery-validation/jquery.validate.min.js" %}"></script>
        <script src="{% static "js/pages/op_auth_signin.min.js" %}"></script>
    </body>
</html>
